@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/fundo.png);
}

button {
  border: 1px solid rgb(209, 92, 199);
  border-radius: 5px;
  background-color: rgb(255, 227, 250);
  color: rgb(255, 105, 218);
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}

h2 {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.fundo {
    background-color: rgb(211, 73, 165);
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}